/* TAGs GERAIS */
html {
	scroll-behavior: smooth;
}

body {
	background-image: radial-gradient(circle at 4.55% 104.17%, #a9daca 0, #a5dbcf 3.33%, #a2dbd4 6.67%, #a0dbd9 10%, #9fdade 13.33%,
	#9fdae3 16.67%, #a0d9e7 20%, #a2d8eb 23.33%, #a6d7ee 26.67%, #aad6f0 30%, #aed5f2 33.33%, #b4d4f4 36.67%, #bad2f4 40%, #c0d0f4 43.33%,
	#c7cff3 46.67%, #cdcdf2 50%, #d3cbf0 53.33%, #d9caed 56.67%, #dfc8ea 60%, #e4c7e6 63.33%, #e9c6e2 66.67%, #edc5dd 70%, #f1c4d8 73.33%,
	#f3c3d3 76.67%, #f5c3ce 80%, #f6c3c9 83.33%, #f7c4c4 86.67%, #f7c4c0 90%, #f6c5bb 93.33%, #f4c6b7 96.67%, #f1c7b4 100%);
	padding: 0 !important;
	margin: 0 !important;
	/*height: 100vh;
	width:  100vw;*/
	overflow-x: hidden;
	font-family: sans-serif;
}

/* ::-webkit-scrollbar {
	width: 10px;
	background-image: radial-gradient(circle at 4.55% 104.17%, #a9daca 0, #a5dbcf 3.33%, #a2dbd4 6.67%, #a0dbd9 10%, #9fdade 13.33%,
	#9fdae3 16.67%, #a0d9e7 20%, #a2d8eb 23.33%, #a6d7ee 26.67%, #aad6f0 30%, #aed5f2 33.33%, #b4d4f4 36.67%, #bad2f4 40%, #c0d0f4 43.33%,
	#c7cff3 46.67%, #cdcdf2 50%, #d3cbf0 53.33%, #d9caed 56.67%, #dfc8ea 60%, #e4c7e6 63.33%, #e9c6e2 66.67%, #edc5dd 70%, #f1c4d8 73.33%,
	#f3c3d3 76.67%, #f5c3ce 80%, #f6c3c9 83.33%, #f7c4c4 86.67%, #f7c4c0 90%, #f6c5bb 93.33%, #f4c6b7 96.67%, #f1c7b4 100%);
}

::-webkit-scrollbar-thumb {
	background: #0072cf;
} */
/* FIM TAGs */

.alert {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	height: 60px;
	width: 500px;
	font-size: 20px;
	color: white;
}

.sucesso {
	background-color: rgba(0, 128, 0, 0.8);
	border-radius: 10px;
	border: 1px solid white;
}

.erro {
	background-color: rgba(196, 52, 45, 0.8);
	border-radius: 10px;
	border: 1px solid white;
}

.mensagemNone {
	display: none;
}

/* MENU */
.navigation {
	background-color: #64b5f6 !important;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 !important;
	width: 100vw;
	z-index: 9999;
}

.menu{
	list-style:none;
	float:left;
	z-index: 9999;
}
	
.menu li{
	position: relative;
	float:left;
}

.menu li a{
	text-align: center;
	color: black;
	text-decoration: none;
	display: block;
	padding: 1rem;
}

.menu li a:hover{
	background: #64b5f6;
	color: #fff;
	text-shadow: 0px 0px 5px #fff;
}

.menu li ul{
	position:absolute;
	background-color:#fff;
	display:none;
}
	
.menu li:hover ul, .menu li.over ul{
	display:block;
}
	
.menu li ul li{
	text-align: center;
	border: 1px solid #c0c0c0;
	display: block;
	width: 12rem;
}

.main-title {
  text-align: center;
	height: 3rem;
	width: 100vw;
}

#menu-logo {
	display: block;
	position: relative;
	float: right;
	height: 5rem;
	width: 6rem;
	padding-right: 1rem;
}

#logo-central {
	display: block;
	height: 5rem;
	width: 14rem;
}
/* FIM MENU */

/* SWITCH ENTRE LOGIN/CADASTRO */
.login-link {
	color: #64b5f6;
}

.login-link:hover {
	color: #0072cf;
}
/* FIM SWITCH */

/* CARDS INDEX */
.cartao {
	position: relative;
	background-color: white;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	border-radius: 4px 4px 4px 4px;
	height: 31rem;
	border-radius: 10px 10px 10px 10px;
}

.cartao:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.conteudo{
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: auto;
	min-height: calc(100vh - 4rem);
	padding: 5rem 0;
	gap: 5rem;
}

.joguinho{
	width: 100vw;
	height: calc(100vh - 4rem);
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.cartao .cartao-image {
  	position: relative;
}

.cartao .cartao-image img {
  	display: block;
  	border-radius: 10px 10px 10px 10px;
  	position: relative;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	height: 31rem;
  	width: 35rem;
}
/* FIM CARDS INDEX */

/*CARDS QUEBRANDO */
.conteudo-quebrando{
	margin: 5rem 0;
  display: flex;
  flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: auto;
	flex-wrap: wrap;
	gap: 2rem;
}
/* FIM CARDS QUEBRANDO */

/* RODAPE */
.rodape {
	color: #fff;
	background-color: #0072cf;/*#64b5f6*/
	padding: 0 !important;
	margin-bottom: 0 !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rodape-login {
	color: #fff;
	background-color: #0072cf;
	bottom: 0 !important;
	padding: 0 !important;
  left: 0;
  position: fixed;
	width: 100vw;
}

.linhas {
	margin-bottom: 20px;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
}

.links {
	padding-right: 10rem;
	display: flex;
	flex-wrap: wrap;
}

.links li {
	padding: 0.5rem;
}

.links h5 {
	display: flex;
	flex-direction: row;
}
  
.rodape-copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;

	overflow: hidden;
	min-height: 50px;
	width: 100vw;

	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(51, 51, 51, 0.08);
}

.rodape-content {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	max-width: 1920px;
	width: 90%;
	justify-content: space-between;
	
}

.rodape-content-copyright {
	margin-left: 1rem;
	max-width: 1920px;
	width: 100%;
	color: white;
	text-align: center;
}

.rodape-web {
	color: white;
	font-size: 18px;
}

.rodape-web:hover {
	color: black;
}

.rodape-text {
	font-size: 18px;
	text-align: justify;
	width: 70rem;
}

.rodape-imagem-box {
	display: flex;
	flex-direction: row;
	margin-right: 1.5rem;
}

.rodape-imagem {
	display: flex;
	height: 2rem;
	width: 2rem;
}
/* FIM RODAPE */

/* BOTÃO VOLTAR AO TOPO */
.button-top {
    display: flex;
	float: right;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #64b5f6;
    text-decoration: none;
}
.button-top::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.button-top:hover::after {
    margin-top:-8px;
}
/* FIM BOTÃO */

/* FLIP CARDS */
.flip-card {
	background-color: transparent;
	width: 35rem;
	height: 35rem;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-interno {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-interno {
	transform: rotateY(180deg);
}

.flip-card-frente, .flip-card-costas {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.flip-card-frente {
	background-color: #bbb;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card-frente img {
	height: 35rem;
	width: 35rem;
}

.flip-card-costas {
	background-color: #64b5f6;
	color: white;
	transform: rotateY(180deg);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card-costas button {
	background-color: #0072cf;
  	border: none;
  	color: #fff;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.flip-card-costas button:hover {
	background-color: #fff;
	border: 1px solid #0072cf;
	color: #0072cf;
}

.flip-card-costas p {
	font-size: 22px;
	text-align: justify;
	padding: 0 1rem;
}

.flip-card-costas li {
	font-size: 22px;
	text-align: justify;
	padding: 0rem 1rem;
}

.card-conteudo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* FIM FLIP CARDS */

/* FLIP CARDS TIPOS DE VIOLÊNCIA */
.conteudo-tipos{
  display: flex;
  flex-direction: row;
	justify-content: space-around; 
	align-items: center;
	width: 100vw;
	height: auto;
	gap: 2rem;
	margin-top: 3rem;
	margin-bottom: 5rem;
	padding: 0rem 5rem;
	flex-wrap: wrap;
}

.flip-card-tipos {
	background-color: transparent;
	width: 35rem;
	height: 35rem;
	perspective: 1000px; /*3D effect*/
	border-radius: 50%;
}

.flip-card-tipos-interno {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	border-radius: 50%;
}

.flip-card-tipos:hover .flip-card-tipos-interno {
	transform: rotateY(180deg);
	border-radius: 50%;
}

.flip-card-tipos-frente, .flip-card-tipos-costas {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	border-radius: 50%;
}

.flip-card-tipos-frente {
	background-color: #bbb;
	color: black;
	border-radius: 50%;
}

.flip-card-tipos-frente img {
	height: 35rem;
	width: 35rem;
	border-radius: 50%;
}

.flip-card-tipos-costas {
	background-color: #64b5f6;
	color: white;
	transform: rotateY(180deg);
	border-radius: 50%;
}

.flip-card-tipos-costas p {
	font-size: 22px;
	text-align: justify;
	padding: 1rem;
	border-radius: 50%;
}

.card-tipos-conteudo {
	width: 35rem;
	height: 35rem;
	border-radius: 50%;
	margin: auto;
	text-align: center;
	/*justify-content: center;
	align-items: center;*/
}

.left-shape{
	border-radius: 50%;
	shape-outside: polygon(
		0 0,
		100% 0,
	
		55% 5%,
		20% 20%,
		5% 35%,
	
		0 50%,
	
		5% 65%,
		20% 80%,
		55% 95%,
	
		100% 100%,
		0 100%
	);
	float: left;
	width: 50%;
	height: 100%;
	clip-path: polygon(
		0 0,
		100% 0,
	
		55% 5%,
		20% 20%,
		5% 35%,
	
		0 50%,
	
		5% 65%,
		20% 80%,
		55% 95%,
	
		100% 100%,
		0 100%
	);
}
  
.right-shape{
	border-radius: 50%;
	shape-outside: polygon(
		100% 0,
		0 0,
	
		45% 5%,
		80% 20%,
		95% 35%,
	
		100% 50%,
	
		95% 65%,
		80% 80%,
		45% 95%,
	
		0 100%,
		100% 100%
	);
	float: right;
	width: 50%;
	height: 100%;
	clip-path: polygon(
		100% 0,
		0 0,
	
		45% 5%,
		80% 20%,
		95% 35%,
	
		100% 50%,
	
		95% 65%,
		80% 80%,
		45% 95%,
	
		0 100%,
		100% 100%
	);
}

.card-tipos-texto {
	padding-top: 5rem;
	text-align: center;
}

.flip-card-tipos-costas button {
	background-color: #0072cf;
	border: none;
	color: #fff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.flip-card-tipos-costas button:hover {
	background-color: #fff;
	border: 1px solid #0072cf;
	color: #0072cf;
}
/* FIM FLIP CARDS TIPOS */

/* PÁGINA DIREITOS DAS CRIANÇAS */
.direitos-page{
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	width: 100vw;
	height: auto;
}

.lista-direitos {
	width: 50rem;
	text-align: justify;
	padding: 2rem;
}

.lista-direitos ul li{
	font-size: 20px;
	list-style-type: square;
}

.video-direitos {
	height: 29.4rem; /*520px*/
	width: 50.2rem; /*920px*/
	border-width: 20px;
	border-style: groove;
	border-color: #0072cf #64b5f6;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.direitos-image img {
	height: 35rem;
	width: 60rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*
	box-shadow: 0px 8px 16px rgba(0,0,0,0.2), 0 6px 10px rgba(0,0,0,0.19);*/
}
/* FIM DIREITOS */

.iframe {
	width: 1040px;
	height: 750px;
}

/* NOVO LOGIN E CADASTRO */
.conteudo-login-cadastro {
	min-height: 70vh;
	height: auto;
	width: 100vw;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.form-login {
	width: 40rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cabecalho {
	background: #64b5f6;
	padding: 2rem;
	text-align: center;
	border-bottom: 1px solid white;
}

.cabecalho h3 {
	margin: 0 !important;
	color: #fff;
}

.form {
	padding: 1rem;
	background: #fff;
}
/* FIM LOGIN E CADASTRO */

@media screen and (max-width: 768px){
	.navigation {
		background-color: #64b5f6; /*#ee6e73*/
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 !important;
		width: 100vw;
		z-index: 9999;
	}

	#menu-logo {
		display: block;
		position: relative;
		height: 4rem;
		width: 5rem;
	}
	
	#logo-central {
		display: block;
		height: 4rem;
		width: 12rem;
	}

	.conteudo{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0;
		gap: 2rem;
		width: 100vw;
		height: auto;
	}

	.conteudo-login-cadastro {
		height: auto;
		width: 100vw;
	
		display: flex;
		flex-direction: column;
		align-items: center;
	
		margin-bottom: 5rem;
	}

	h4 {
		font-size: 26px;
	}

	.cartao {
		position: relative;
		background-color: white;
		-webkit-transition: -webkit-box-shadow .25s;
		transition: -webkit-box-shadow .25s;
		transition: box-shadow .25s;
		transition: box-shadow .25s, -webkit-box-shadow .25s;
		border-radius: 4px 4px 4px 4px;
		height: 21rem;
		width: 25rem;
		border-radius: 10px 10px 10px 10px;
	}

	.cartao .cartao-image img {
		display: block;
		border-radius: 10px 10px 10px 10px;
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: 21rem;
		width: 25rem;
	}

	.cartao .cartao-image {
  	position: static;
	}

	.rodape-content{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 90%;
		justify-content: space-between;
	}

	.rodape-text {
		font-size: 18px;
		text-align: justify;
		width: auto;
	}

	/* FLIP CARD TIPOS */
	.conteudo-tipos{
		display: flex;
		flex-direction: column;
		justify-content: space-around; 
		align-items: center;
		gap: 2rem;
		width: 100vw;
		height: auto;
		padding: 0rem 3rem;
	}

	.flip-card-tipos {
		background-color: transparent;
		width: 22rem;
		height: 22rem;
		perspective: 1000px; /*3D effect*/
		border-radius: 50%;
	}

	.flip-card-tipos-interno {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.5s;
		transform-style: preserve-3d;
		border-radius: 50%;
	}

	.flip-card-tipos:hover .flip-card-tipos-interno {
		transform: rotateY(180deg);
		border-radius: 50%;
	}

	.flip-card-tipos-frente, .flip-card-tipos-costas {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
		border-radius: 50%;
	}

	.flip-card-tipos-frente {
		background-color: #bbb;
		color: black;
		border-radius: 50%;
	}

	.flip-card-tipos-frente img {
		height: 22rem;
		width: 22rem;
		border-radius: 50%;
	}

	.flip-card-tipos-costas {
		background-color: #64b5f6;
		color: white;
		transform: rotateY(180deg);
		border-radius: 50%;
	}

	.flip-card-tipos-costas p {
		font-size: 15px;
		text-align: justify;
		padding: 1rem;
		border-radius: 50%;
	}

	.card-tipos-conteudo {
		width: 22rem;
		height: 22rem;
		border-radius: 50%;
		margin: auto;
		text-align: center;
		/*justify-content: center;
		align-items: center;*/
	}

	.left-shape{
		border-radius: 50%;
		shape-outside: polygon(
			0 0,
			100% 0,
		
			55% 5%,
			20% 20%,
			5% 35%,
		
			0 50%,
		
			5% 65%,
			20% 80%,
			55% 95%,
		
			100% 100%,
			0 100%
		);
		float: left;
		width: 50%;
		height: 100%;
		clip-path: polygon(
			0 0,
			100% 0,
		
			55% 5%,
			20% 20%,
			5% 35%,
		
			0 50%,
		
			5% 65%,
			20% 80%,
			55% 95%,
		
			100% 100%,
			0 100%
		);
	}
		
	.right-shape{
		border-radius: 50%;
		shape-outside: polygon(
			100% 0,
			0 0,
		
			45% 5%,
			80% 20%,
			95% 35%,
		
			100% 50%,
		
			95% 65%,
			80% 80%,
			45% 95%,
		
			0 100%,
			100% 100%
		);
		float: right;
		width: 50%;
		height: 100%;
		clip-path: polygon(
			100% 0,
			0 0,
		
			45% 5%,
			80% 20%,
			95% 35%,
		
			100% 50%,
		
			95% 65%,
			80% 80%,
			45% 95%,
		
			0 100%,
			100% 100%
		);
	}

	.card-tipos-texto {
		padding-top: 1rem;
		text-align: center;
	}

	.card-tipos-texto a button {
		margin-top: -2rem;
	}

	.flip-card-tipos-costas button {
		background-color: #0072cf;
		border: none;
		color: #fff;
		padding: 0.7rem;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		cursor: pointer;
		transition-duration: 0.3s;
	}

	.flip-card-tipos-costas button:hover {
		background-color: #fff;
		border: 1px solid #0072cf;
		color: #0072cf;
	}
/* FIM FLIP CARD TIPOS	*/
/* DIREITOS */
	.direitos-page{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5rem;
		width: 100vw;
		height: auto;
	}
	
	.direitos-image {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.direitos-image img {
		height: 100%;
		width: 80%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	.video-direitos {
		height: 254px; /*520px*/
		width: 400px; /*920px*/
		border-width: 10px;
		border-style: groove;
		border-color: #0072cf #64b5f6;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	.main-title {
		text-align: center;
		width: 100vw;
		font-size: 32px;
	}

	h1.main-title {
		font-size: 40px;
	}

	.lista-direitos {
		margin-top: -7rem;
		text-align: justify;
		width: 90%;
	}
	
	.lista-direitos ul li{
		font-size: 20px;
		list-style-type: square;
	}
/* FIM DIREITOS */
/* QUEBRANDO SILÊNCIO */
	.conteudo-quebrando{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		width: 100vw;
		height: auto;
		padding: 0 0 2rem;
		flex-wrap: wrap;
	}

	.flip-card {
		background-color: transparent;
		width: 22rem;
		height: 22rem;
		perspective: 1000px; /* Remove this if you don't want the 3D effect */
	}

	.flip-card-interno {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.5s;
		transform-style: preserve-3d;
	}

	.flip-card:hover .flip-card-interno {
		transform: rotateY(180deg);
	}

	.flip-card-frente, .flip-card-costas {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
	}

	.flip-card-frente {
		background-color: #bbb;
		color: black;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.flip-card-frente img {
		height: 22rem;
		width: 22rem;
	}

	.flip-card-costas {
		background-color: #64b5f6;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: white;
		transform: rotateY(180deg);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		overflow-y: auto;
	}

	.flip-card-costas::-webkit-scrollbar {
    width: 2px;
    background: #64b5f6;
	}

	.flip-card-costas::-webkit-scrollbar-thumb {
    background: #0072cf;
	}

	.flip-card-costas button {
		background-color: #0072cf;
		border: none;
		color: #fff;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
		transition-duration: 0.3s;
	}

	.flip-card-costas button:hover {
		background-color: #fff;
		border: 1px solid #0072cf;
		color: #0072cf;
	}

	.flip-card-costas p {
		font-size: 16px;
		text-align: justify;
		padding: 0 1rem;
	}

	.flip-card-costas ul {
		padding: 0 !important;
	}

	.flip-card-costas li {
		font-size: 14px;
		text-align: justify;
	}

	.card-conteudo {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.card-conteudo span {
		display: inherit;
		flex-direction: inherit;
		gap: 0.5rem;
		margin: -1rem 0 1rem;
		justify-content: space-around;
	}

	.card-conteudo h4 {
		font-size: 24px;
		margin: 0.5rem 0.1rem -0.5rem;
	}

	.joguinho{
		width: 100vw;
		min-height: 50rem;
		height: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.iframe {
		width: 409.6px;
		height: 300px;
	}

	.form-login {
		width: 25rem;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}