ul, a {
  margin: 0;
  padding: 0;
}

@media (min-width: 770px) {
  .menu-mobile {
    display: block;
  }

  .nav-menu {
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 0px;
    width: 15%;
    left: 0px;
    background: #1f8feb;
    color: #000;
    z-index: 1000;
    transition: .9s;
    visibility: hidden;
    overflow-y: hidden;
  }

  .nav-menu li {
    width: 100%;
  }

  .menu-mobile:hover .nav-menu {
    height: 18rem;
    visibility: visible;
    /* overflow-y: auto; */
  }

  .nav-menu a {
    padding: 1rem .2rem;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    color: #fff;
  }

  .nav-menu a:hover {
    font-weight: bold;
  }

  .btn-mobile {
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  .hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid #000;
  }

  .hamburguer::after, .hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  .menu-mobile:hover .hamburguer {
    border-top-color: transparent;
  }

  .menu-mobile:hover .hamburguer::before {
    transform: rotate(135deg);
  }

  .menu-mobile:hover .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media (max-width: 768px) {
  .text-desktop {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .menu {
    display: none;
  }

  .btn-mobile {
    display: block;
  }

  .nav-menu {
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 0px;
    width: 50%;
    top: 4rem;
    left: 0px;
    background: #1f8feb;
    z-index: 1000;
    transition: .9s;
    visibility: hidden;
    overflow-y: hidden;
  }

  .nav-menu li {
    width: 100%;
  }

  .menu-mobile.active .nav-menu {
    height: calc(100vh - 4rem);
    visibility: visible;
    /* overflow-y: auto; */
  }

  .nav-menu a {
    padding: 1rem .2rem;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    color: #fff;
  }

  .nav-menu a:hover {
    font-weight: bold;
  }

  .btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid #000;
  }

  .hamburguer::after, .hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  .menu-mobile.active .hamburguer {
    border-top-color: transparent;
  }

  .menu-mobile.active .hamburguer::before {
    transform: rotate(135deg);
  }

  .menu-mobile.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}